Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 80
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Linux
PointerBindsToType: false
SpaceBeforeAssignmentOperators: true
Cpp11BracedListStyle: false
PenaltyReturnTypeOnItsOwnLine: 1
BinPackParameters: true
#BinPackArguments: true
#AlignConsecutiveAssignments: true
