*.swp
*~
cscope*.out
html5-client/src/js/jittertrap-coreconfig.js
html5-client/src/js/jittertrap-version.js
html5-client/output/
cli-client/jittertrap-cli
jittertrap-coverity-build.lzma
backend/jittertrap
cov-int/
messages/jt-messages.a
messages/jt_msg_*.o
messages/test-packing
