
.legendheading {
  font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tick {
  opacity: 0.4;
}

.xGrid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: grey;
  opacity: 0.4;
  stroke-width: 1px;
}

.yGrid {
  fill: none;
  shape-rendering: crispEdges;
  stroke: grey;
  opacity: 0.4;
  stroke-width: 1px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.trapContainer {
  border: none;
  display: block;
}

/* Trap */
#traps_table tbody td {
  vertical-align: middle;
}

.form-inline .input-group input[type="number"] {
  width:5em;
}

.page-header {
  margin: 0;
  border: 0;
}

.measurements td {
  width: 9em;
  text-align: right;
}

.measurements th {
  width: 9em;
  text-align: right;
}
