<tr data-program-id="{{programUID}}">
  <td>{{programName}}</td>
  <td>
    <button type="button" class="btn btn-secondary program-play-btn" id="{{programUID}}_play">
      <span class="fas fa-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary" id="{{programUID}}_stop">
      <span class="fas fa-stop" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary" id="{{programUID}}_edit" data-toggle="modal" data-target="#add_program_modal">
      <span class="fas fa-pencil-alt" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary" id="{{programUID}}_delete">
      <span class="fas fa-minus" aria-hidden="true"></span>
    </button>
  </td>
  <td>
    <div>
      <span class="fas" id="{{programUID}}_status"></span>
    </div>
  </td>
</tr>
