<tr data-program-id="{{programUID}}">
  <td class="col-xs-4">{{programName}}</td>
  <td class="col-xs-2">
    <button type="button" class="btn btn-default" id="{{programUID}}_start">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" id="{{programUID}}_stop">
      <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-default" id="{{programUID}}_delete">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </button>
  </td>
  <td class="col-xs-2">
    <div>
      <span class="glyphicon" id="{{programUID}}_status"></span>
    </div>
  </td>
</tr>
