<tr data-trap-id="{{trapUID}}">
  <td>{{trapName}}</td>
  <td>
    <div class="input-group">
      <div class="form-control">{{trapValue}}</div>
      <div class="input-group-append">
        <span class="input-group-text">{{trapUnits}}</span>
      </div>
    </div>
  </td>
  <td>
    <button type="button" class="btn btn-secondary" id="{{trapUID}}_delete">
      <span class="fas fa-minus" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-secondary" id="{{trapUID}}_reset">
      <span class="fas fa-sync-alt" aria-hidden="true"></span>
    </button>
  </td>
  <td>
    <div>
      <span class="fas fa-exclamation-triangle" id="{{trapUID}}_led"></span>
    </div>
  </td>
</tr>
