<tr data-trap-id="{{trapUID}}">
  <td>{{trapName}}</td>
  <td>{{trapValue}} {{trapUnits}}</td>
  <td>
    {{#trapPcap}}<i class="fas fa-camera text-muted" id="{{trapUID}}_pcap" title="Will trigger packet capture"></i>{{/trapPcap}}
    <i class="fas fa-circle text-muted" id="{{trapUID}}_led" title="Not triggered"></i>
  </td>
  <td>
    <button type="button" class="btn btn-sm btn-outline-secondary" id="{{trapUID}}_reset" title="Reset">
      <i class="fas fa-undo"></i>
    </button>
    <button type="button" class="btn btn-sm btn-outline-danger" id="{{trapUID}}_delete" title="Delete">
      <i class="fas fa-times"></i>
    </button>
  </td>
</tr>
